<h2><%= @letters.join %></h2>

<h3>
  <form action="/score" method="post">
  <input type="text" name="word">
  <input type="submit" value="Submit">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters.join %>
  </form>
</h3>
